@model Test_XuongThucHanh.Models.StaffMajorFacility

@{
    ViewData["Title"] = "Create Staff Major Facility";
}

<h2>Create Staff Major Facility</h2>

<form asp-action="Create">
    <div class="form-group">
        <label for="Department">Department</label>
        @Html.DropDownListFor(model => model.IdMajorFacility, ViewBag.Departments as SelectList, "Select a Department", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Major">Major</label>
        @Html.DropDownListFor(model => model.IdMajorFacility, ViewBag.Majors as SelectList, "Select a Major", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Facility">Facility</label>
        @Html.DropDownListFor(model => model.IdMajorFacility, ViewBag.Facilities as SelectList, "Select a Facility", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
